<script>
	import { crossfade } from 'svelte/transition';
	import { cubicOut } from 'svelte/easing';
	import { tweened } from 'svelte/motion';
	import { flip } from 'svelte/animate';

	import { currentPage } from '../store/GlobalStore.js';
	
	export let options = [];

	let uuid = 0;

	function createOptionObject(option) {
		return { id: uuid++, name: option, active: false }
	}

	let menuOptions = options.map(createOptionObject);
	menuOptions[0].active = true;

	function changeCurrentPage(menuOption, active) {
		let currentActivePage = menuOptions.filter(option => option.active)[0];
		menuOptions = menuOptions.filter(option => option.name !== menuOption.name);
		menuOptions.map(option => option.active =false);
		menuOption.active = active;
		menuOptions.splice(menuOption.id, 0, menuOption);
		currentPage.set(menuOption.name);
	}
	
	const [send, receive] = crossfade({
		duration: d => Math.sqrt(d * 1000),
		fallback(node, params) {
			const style = getComputedStyle(node);
			const transform = style.transform === 'none' ? '' : style.transform;
			return {
				duration: 600,
				easing: cubicOut,
				css: t => `
					transform: ${transform} scale(${t});
					opacity: ${t}
				`
			}
		}
	});

</script>

<div>
		<span>
			{#each menuOptions.filter(o => o.active) as option (option.id)}
				<button 
					class="current"
					in:receive="{{ key: option.id }}"
					out:send="{{ key: option.id }}"
					animate:flip
				>
					{#if option.name === 'Resume'}
						Resum&eacute;
					{:else}
						{option.name}
					{/if}
				</button>
			{/each}
		</span>
		<span>
			{#each menuOptions.filter(o => !o.active) as option (option.id)}
				<button 
					on:click={() => changeCurrentPage(option, true) }
					in:receive="{{ key: option.id }}"
    				out:send="{{ key: option.id }}"
					animate:flip
				>
					{#if option.name === 'Resume'}
						Resum&eacute;
					{:else}
						{option.name}
					{/if}				
			</button>			
			{/each}
		</span>
</div>

<style>
	div {
		text-align: center;
		padding: 1em 3em;
		max-width: none;
		background-color: inherit;
		display: flex;
		justify-content: space-between;
		vertical-align: middle;
		border-radius: 1em;
	}

	button {
        text-align: center;
		padding: 1em;
        width: 7em;
    	text-transform: uppercase;
        background-color: black;
        color: white;
        border-radius: 0em 1em 0em 0em;
        box-shadow: inset 3px 4px 5px 0px black;
        margin: 1em 0em;
        opacity: .55;
    }

	button:active {
		background-color: black;
	}

    button.current {
		margin: 1em;
		background-color: inherit;
        transform: scale(1.25);
		opacity: 1;
		color: goldenrod;
    }

    button:not(.current) {
		transition: transform .5s, opacity .5s;
		transition-timing-function: cubic-bezier(.99,.22,.88,.66, .5);
	}

    button:not(.current):hover {
		transform: translateZ(100em);
		transform: rotate(0deg);
		transform: scale(1.25);
		transition: transform .5s, opacity .5s;
		transition-timing-function: cubic-bezier(.99,.22,.88,.66, .5);
        color: goldenrod;
		opacity: 1;
    }

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>