<script>
    import { fly } from "svelte/transition";
</script>

<div class="contents">
    <div>
        <img
            src="images/umdcp.png"
            alt="University of Maryland, College Park"
            in:fly="{{ x: -100, duration: 1000, delay: 1000 }}"
            out:fly="{{ x: -100, duration: 1000 }}"
        />
        <span
            in:fly="{{ y: -100, duration: 1000, delay: 1000 }}"
            out:fly="{{ y: -100, duration: 1000 }}"
        >
            <h1>Education</h1>
            <p>
                I received my bachelors degree from the University of Maryland,
                College Park in Electrical Engineering.
            </p>
            <p>
                I mostly wanted to make robots, until I realized that there was
                no 'undo' button in real life, and switched to software.
            </p>
            <p>
                I'm a firm believer that learning never stops. Check out the <mark
                    class="goldenrod">Books</mark
                > tab up top to see what I've been reading.
            </p>
        </span>
    </div>
    <div>
        <span
            in:fly="{{ x: 100, duration: 1000, delay: 1000 }}"
            out:fly="{{ x: 100, duration: 1000 }}"
        >
            <h1>Professional Interests</h1>
            <ul>
                <li>
                    Devops, the process by which code goes from a developer's
                    workstation to providing value to users, including
                    technologies such as:
                </li>
                <ul>
                    <li>
                        <mark class="goldenrod">Gitlab CI</mark> to build and deploy
                        code
                    </li>
                    <li>
                        <mark class="goldenrod">Docker</mark> to isolate the code
                        and make replication easy
                    </li>
                    <li>
                        <mark class="goldenrod">Kubernetes</mark> to administrate
                        the end product and provide maximal uptime
                    </li>
                    <li>
                        <mark class="goldenrod">Istio</mark> to secure and manage
                        the networking of a Kubernetes cluster
                    </li>
                    <li>
                        <mark class="goldenrod">Salt</mark> to administer the servers
                        (virtual or physical) that underly the above technologies
                    </li>
                </ul>
                <li>
                    Front-End development, the creation of user interfaces,
                    including:
                </li>
                <ul>
                    <li>
                        <mark class="goldenrod">Typescript</mark>,
                        <mark class="goldenrod">CSS</mark>
                        and <mark class="goldenrod">HTML</mark>, the standard
                        technologies that make up the core of front-end
                        development
                    </li>
                    <li>
                        <mark class="goldenrod">Svelte</mark>, a front-end
                        compiler used to create this website from scratch
                    </li>
                </ul>
                <li>
                    Application Engineering, the art and science of getting
                    multiple systems to work together correctly
                </li>
                <ul>
                    <li>
                        Designing and implementing clear APIs for back-end,
                        middle tier and front-end software that enable ease of
                        use and development
                    </li>
                    <li>
                        Combining databases like <mark class="goldenrod"
                            >MongoDB</mark
                        >
                        and <mark class="goldenrod">ElasticSearch</mark> with
                        <mark class="goldenrod">Java</mark>,
                        <mark class="goldenrod">Spring Boot</mark>, and
                        front-end technologies to create performant applications
                    </li>
                    <li>
                        Using https and tls, along with a public key
                        infrastructure, to ensure fast and secure communication
                        between applications
                    </li>
                </ul>
                <li>
                    Data Science, the pursuit of insight via analysis of data
                </li>
                <ul>
                    <li>
                        Using statistical techniques and languages like <mark
                            class="goldenrod">Python</mark
                        >
                        and <mark class="goldenrod">R</mark> to reveal patterns in
                        data
                    </li>
                </ul>
                <li>
                    Data Visualization, the visual representation of complex
                    data in such a way as intuitively communicate key insights
                    to non-technical personnel.
                </li>
                <ul>
                    <li>
                        Using <mark class="goldenrod">D3</mark> and
                        <mark class="goldenrod">TypeScript</mark> to create interactive
                        and beautiful displays
                    </li>
                </ul>
            </ul>
        </span>
    </div>
</div>

<style>
    div {
        display: inline-flex;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        -ms-overflow-style: none;
        overflow-y: scroll;
        height: 70vh;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }

    span {
        margin: 1em 1em 1em 0em;
    }

    h1 {
        color: white;
        font-family: auto;
        margin: 0em;
    }

    mark.goldenrod {
        color: goldenrod;
        background: none;
    }

    img {
        margin: 1.4em 1em 1em 0em;
        display: inline-flex;
        border-radius: 1em;
        height: 10em;
    }
</style>
