<script>
    import { fly } from 'svelte/transition';
    import { onMount } from 'svelte';

    let professionalBooks = [];
    let personalBooks = [];

    onMount(async () => {
        const responseProf = await fetch("data/books/professional.json");
        const responsePer = await fetch("data/books/personal.json");
        professionalBooks = await responseProf.json();
        personalBooks = await responsePer.json();
    });

    function scrollHorizontal(id, deltaY) {
        document.getElementById(id).scrollLeft += deltaY;
    }

</script>

<div 
    class="contents"
    in:fly={{ y: -100, duration: 1000, delay: 1000 }}
    out:fly={{ y: -100, duration: 1000 }}
>
    <h1>Professional Books</h1>
    <div 
        class="bookshelf"
        id="professionalBookshelf"
        on:wheel|stopPropagation|preventDefault={(e) => { scrollHorizontal("professionalBookshelf", e.deltaY) }}
    >
        {#each professionalBooks as book}
            <div class="book">
                <a href="{book.link}" target="_blank"><img src="images/books/professional/{book.image}" alt="{book.title}" title="{book.title}: {book.description}"></a>
            </div>
        {/each}
    </div>
    
    <h1>Personal Books</h1>
    <div 
        class="bookshelf"
        id="personalBookshelf"
        on:wheel|stopPropagation|preventDefault={(e) => { scrollHorizontal("personalBookshelf", e.deltaY) }}
    >
        {#each personalBooks as book}
            <div class="book">
                <a href="{book.link}" target="_blank"><img src="images/books/personal/{book.image}" alt="{book.title}" title="{book.title}: {book.description}"></a>
            </div>
        {/each}
    </div>
</div>

<style>
    div {
        text-align: center;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        overflow-y: scroll;
        height: 70vh;
        -ms-overflow-style: none;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }

    div.bookshelf {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        margin-top: 1em;
        margin-bottom: 3em;
        padding: 1em;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -ms-overflow-style: none;
    }

    div.bookshelf::-webkit-scrollbar {
        display: none;
    }

    img {
        height: 10em;
        max-width: none;
        margin: 1em;
        display: inline-block;
    }

    a {
        display: inherit;
    }

    h1 {
        color: white;
        font-family: sans-serif;
        margin: 0em;
    }

    h2 {
        color: goldenrod;
        font-family: auto;
        margin: 0em;
        text-align: center;
    }

    h3 {
        color: goldenrod;
        font-family: auto;
        margin: 0em;
        text-align: center;
    }

</style>
