<script>
    import { fly } from "svelte/transition";
</script>

<div class="contents">
    <div>
        <img
            src="images/headshot.jpg"
            alt="Daniel Haller Picture."
            in:fly="{{ x: -100, duration: 1000, delay: 1000 }}"
            out:fly="{{ x: -100, duration: 1000 }}"
        />
        <span
            in:fly="{{ y: -100, duration: 1000, delay: 1000 }}"
            out:fly="{{ y: -100, duration: 1000 }}"
        >
            <h1>Welcome! I'm Daniel Haller.</h1>
            <p>
                I'm a software engineer with a passion for learning new
                technologies and solving interesting problems.
            </p>
            <p>
                My favorite programming languages are TypeScript and Python, but
                I'm always looking to learn more.
            </p>
            <p>
                When I'm not coding for fun or profit, I read, write, draw, 3D
                print my own designs, and play games with my friends.
            </p>
        </span>
    </div>
    <div>
        <span
            in:fly="{{ y: 100, duration: 1000, delay: 1000 }}"
            out:fly="{{ y: 100, duration: 1000 }}"
        >
            <h1>If you're looking for me professionally, look no further!</h1>
            <p>
                (Well, a little further, because my Resum&eacute;'s not on this
                page.)
            </p>
            <p>
                When it comes to work I'm there to solve problems. Most of the
                time that means coding, but sometimes it means communicating
                with other developers or building consensus amongst the team.
                Whatever it takes to get the job done, I do.
            </p>
            <p>
                Check out the <mark class="goldenrod">About</mark> page for more
                details on my professional interests, or
                <mark class="goldenrod">Projects</mark> to see what I'm working on
                in my free time.
            </p>
            <p>
                <mark class="goldenrod">Books</mark> displays a few books I've
                read, both professional and personal, that I find worth sharing.
                <mark class="goldenrod">Quotes</mark> houses a few of my favorite
                quotes.
            </p>
        </span>
    </div>
</div>

<style>
    div {
        display: inline-flex;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        -ms-overflow-style: none;
        overflow-y: scroll;
        height: 70vh;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }

    span {
        margin: 1em 1em 1em 0em;
    }

    h1 {
        color: white;
        font-family: auto;
        margin: 0em;
    }

    mark.goldenrod {
        color: goldenrod;
        background: none;
    }

    img {
        margin: 1.4em 1em 1em 0em;
        display: inline-block;
        border-radius: 1em;
        height: 12em;
    }
</style>
