<script>
    import { fly } from "svelte/transition";
    import { onMount } from "svelte";

    let projects = [];

    onMount(async () => {
        const response = await fetch("data/projects.json");
        projects = await response.json();
    });
</script>

<div
    class="contents"
    in:fly="{{ y: -100, duration: 1000, delay: 1000 }}"
    out:fly="{{ y: -100, duration: 1000 }}"
>
    {#each projects as project}
        <div
            class="project"
            in:fly="{{ y: -100, duration: 1000, delay: 1000 }}"
            out:fly="{{ y: -100, duration: 1000 }}"
        >
            <a href="{project.link}" target="_blank"
                ><img
                    src="images/projects/{project.image}"
                    alt="Screenshot of {project.name}"
                /></a
            >
            <span>
                <h1>{project.name}</h1>
                <h2>{project.summary}</h2>
                <a href="{project.repository}" target="_blank"><h3>Code</h3></a>
            </span>
        </div>
    {/each}
</div>

<style>
    div {
        text-align: center;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        overflow-y: scroll;
        height: 70vh;
        -ms-overflow-style: none;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }

    div.project {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 1em;
        margin: 3em auto;
        padding: 1em;
        display: flex;
    }

    span {
        margin: 1em 1em 1em 0em;
    }

    h1 {
        color: white;
        font-family: sans-serif;
        margin-top: 1em;
        margin-bottom: 0em;
    }

    h2 {
        color: goldenrod;
        font-family: auto;
        margin: 0em;
        text-align: center;
    }

    a {
        color: magenta;
    }

    a:hover {
        color: turquoise;
        text-decoration: none;
    }

    img {
        margin: 1.4em 1em 1em 0em;
        display: inline-block;
        border-radius: 1em;
        height: 10em;
        opacity: 1;
        background-color: black;
    }
</style>
