<script>
    import { fly } from 'svelte/transition';
    import { onMount } from 'svelte';

    let quotes = [];

    onMount(async () => {
        const response = await fetch("data/quotes.json");
        quotes = await response.json();
    });


</script>

<div 
    class="contents"
    in:fly={{ y: -100, duration: 1000, delay: 1000 }}
    out:fly={{ y: -100, duration: 1000 }}
>
    {#each quotes as quote}
        <div 
            class="quote"
            in:fly={{ y: -100, duration: 1000, delay: 1000 }}
            out:fly={{ y: -100, duration: 1000 }}
        >
        <span>
            <h1>"{quote.quote}"</h1>
            <h2>{quote.author}</h2>
            {#if quote.work}
                <h3>{quote.work}</h3>
            {/if}
        </span>
    </div>
    {/each}
    
</div>

<style>
    div {
        text-align: center;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        overflow-y: scroll;
        height: 70vh;
        -ms-overflow-style: none;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }

    div.quote {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 1em;
        margin: 3em auto;
        padding: 1em;
    }

    span {
        margin: 1em 1em 1em 0em;
    }

    h1 {
        color: white;
        font-family: sans-serif;
        margin: 0em;
    }

    h2 {
        color: goldenrod;
        font-family: auto;
        margin: 0em;
        text-align: center;
    }

    h3 {
        color: goldenrod;
        font-family: auto;
        margin: 0em;
        text-align: center;
    }

</style>
