<script>
    import { fly } from 'svelte/transition';
</script>


<div class="contents">
    <embed 
        src="data/resume-fullstack.pdf"
        in:fly={{ y: -100, duration: 1000, delay: 1000 }}
        out:fly={{ y: -100, duration: 1000 }}  
        title="My Resum&eacute;, an embedded pdf."  
    />
</div>

<style>
    embed {
        height: 70vh;
        width: 90vh;
    }

    div.contents {
        display: block;
        padding: 1em 3em;
        overflow-y: scroll;
        height: 70vh;
        -ms-overflow-style: none;
        text-align: center;
    }

    div.contents::-webkit-scrollbar {
        display: none;
    }



</style>