<script>
    import { fade } from 'svelte/transition';
    import About from './contents/About.svelte';
	import { currentPage } from '../store/GlobalStore.js';

    export let pages = [];

    let page = {};
    $: page = pages.filter(p => p.name === $currentPage)[0];

</script>

<svelte:component this={page.component}/>

