<script>
	import Menu from './menu/Menu.svelte';
	import Page from './page/Page.svelte';
	import Footer from './footer/Footer.svelte';

	import Home from './page/contents/Home.svelte';
	import About from './page/contents/About.svelte';
	import Projects from './page/contents/Projects.svelte';
	import Resume from './page/contents/Resume.svelte';
	import Books from './page/contents/Books.svelte';
	import Quotes from './page/contents/Quotes.svelte';


	let pages=[
		{ name: 'Home', component: Home},
		{ name: 'About', component: About },
		{ name: 'Projects', component: Projects },
		{ name: 'Resume', component: Resume },
		{ name: 'Books', component: Books },
		{ name: 'Quotes', component: Quotes }
	];
</script>

<main>
	<Menu options={pages.map(o => o.name)}/>
	<div class="page">
		<Page pages={pages}/>
	</div>
	<Footer/>
</main>

<style>
	main {
		margin: 0% 10%;
	}

	div.page {
		height: 75vh;
	}
</style>