<div>
    <h3>I can be reached at <mark class="goldenrod">dahaller7@gmail.com</mark>.</h3>
</div>

<style>
    div {
        display: inline-flex;
        background-color: rgba(0,0,0,.8);
        margin: 1em 3em;
        border-radius: 1em;
        text-align: center;
        height: 7vh;
        padding: 1em 1em 0em 1em;
        width: -webkit-fill-available;
        justify-content: center;
    }

    h3 {
        color: white;
        position: relative;
        height: 5vh;
        top: 50%;
        margin-top: -2.5vh;
    }

    mark.goldenrod {
        color: goldenrod;
        background-color: inherit;
    }
</style>


